body {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  margin: 0;
  background-color: lightsalmon;

}

nav {
  padding-top: 1rem;
  background-color: teal;
  color: lightsalmon;
  text-decoration: none;
}

nav a {
  text-decoration: none;
}

nav a:hover{
  text-decoration:yellow underline;
}

nav p {
  left: 25rem;
}

.intro {
  height: 30rem;
  padding-top: 1rem;
  background-image: url("https://codecademy-content.s3.amazonaws.com/PRO/independent-practice-projects/responsive-club-site/img/runner-splash.jpg");
  background-position: center;
  background-repeat: none;
}

.intro img {
  width: 15rem;
  display: block;
  margin: auto;
  margin-top: 5rem;
}

.intro h1 {
  color: Coral;
  font-size: 2rem;
  margin-top: 10rem;
  padding: 2rem;
  background-color: rgba(0.5, 0.5, 0.5, 0.5);
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  color: lightsalmon;
  padding: 0.5rem 1.5rem;
  margin-right: 1.5rem;
  display: inline-block;
}

.summary,
.testimonial,
.photos,
.meetup {
  margin: 4em auto;
}

.summary {
  padding: 0 1rem;
}

.summary p {
  color: white;
}

.testimonial {
  box-sizing: border-box;
  background-color: teal;
  padding: 0 1rem;
  padding-top: 1rem;
  color: yellow;
  padding-bottom: 1rem;
}

.testimonial h1 {
  font-size: 2.5rem;
  color: yellow;
}

.summary h2 {
  color: yellow;
}

.photos img {
  width: 30%;
  margin: 1.5%;
}

.meetup {
  margin-bottom: 2rem;
}

.meetup img {
  width: 50%;
  height: auto;
  display: block;
  margin: auto;
}

.meetup h1, .gallery h1 {
  color: yellow;
  text-align: center;
}



.gallery {
  width: 100%;
  max-width: 700px;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.slider {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  width: 100%;
  height: auto;
}

/* Navigation Buttons */
.prev, .next {
  position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    z-index: 10; 
}

.prev { left: 10px; }
.next { right: 10px; }

/* Indicator Dots */
.dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 5px;
  background-color: teal;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.active {
  background-color: #717171;
}

@media only screen and (max-width: 1048px) {
  .photos img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 640px) {
  .intro h1 {
    margin-top: 2rem;
  }

  .intro {
    max-height: 200px;
  }

  .photos img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  li {
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 320px) {
  .testimonial h1 {
    font-size: 2rem;
  }

  .photos img {
    width: 100%;
  }
}
